{% extends "display.html" %}

{% block head %}
	<link href="/static/table.css" rel="stylesheet">
{% endblock %}


{% block body1 %}

<form class="well" method="POST" action="/building">
	{{ form.csrf_token }}
    {{ form.building.label }} {{ form.building(size=12) }}
    <input type="submit" value="Add">
</form>
<hr />
<h2> Buildings </h2>
	<div class="CSSTableGenerator">
		<table>
			<tr>
				<td>Building Name</td>
			</tr>
			{% for b in buildings %}
			<tr>
				<td>{{ b.name }}</td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}