{% extends "display.html" %}
 
{% block body1 %}

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
   {% endfor %}


  {% for message in form.Name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.Address.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.Phone.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.Email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}


 

  <form action="/register" method="POST">
    <input type="hidden" value="{{ inS }}" name="inDateS">
    <input type="hidden" value="{{ outS }}" name="outDateS">
    <input type="hidden" value="{{ numG }}" name="numGuestsS">
    <input type="hidden" value="{{ rn }}" name="roomNum">
 	<table >
 	<tr>
    	<td>{{ form.Name.label }}</td>
   		<td>{{ form.Name }}</td>
 	</tr>
 	<tr>
 		<td>{{ form.Address.label }}</td>
    	<td>{{ form.Address }}</td>
 	</tr>
 	<tr>
    	<td>{{ form.Phone.label }}</td>
    	<td>{{ form.Phone }}</td>
	</tr>
 	<tr>
    	<td>{{ form.Email.label }}</td>
    	<td>{{ form.Email }}</td>
 	</tr>
 	<tr><td></td>
    	<td>{{ form.Submit }}</td>
    </tr>
    </table>
  </form>
   
{% endblock %}