{% extends "display.html" %}

{% block body1 %}
</div>
	<div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Checking In Today</h3>
            </div>
            <div class="panel-body">	
           {{ checkin|safe }}
			</div>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Checking out Today</h3>
            </div>
            <div class="panel-body">	
           {{ checkout|safe }}
			</div>
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Occupied Rooms</h3>
            </div>
            <div class="panel-body">	
           {{ occupied|safe }}
			</div>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Vacant Rooms</h3>
            </div>
            <div class="panel-body">	
           {{ vacant|safe }}
			</div>
          </div>
        </div>
    
	</div>
{% endblock %}