{% extends "display.html" %}

{% block head %}
	<link href="/static/table.css" rel="stylesheet">
{% endblock %}

{% block body1 %}

<form class="well" method="POST" action="/room">
    {{ form.csrf_token }}
    {{ form.roomNumber.label }} {{ form.roomNumber(size=8) }} <br />
    <strong>Building</strong>
    <select name="building">
    	<option value="None">None</option>
    	{% for b in bldgs %}
    		<option value="{{ b.name }}">{{ b.name }}</option>
    	{% endfor %}
    </select> <br />
    {{ form.occupancy.label }} {{ form.occupancy(size=2) }}<br />
    <input type="submit" value="Add">
</form>

<hr />
<h2> Rooms </h2>


<style>

</style>

<div class="CSSTableGenerator">
	<table>
		<tr>
			<td>Room Number</td>
			<td>Building</td>
			<td>Occupancy</td>
			<td>Vacancy</td>
			<td>Housekeeping</td>
	{% for r in rooms %}
		<tr>
			<td><a href="/room/{{ r.roomNumber }}"><strong>{{ r.roomNumber }}</strong></a></td>
			<td>{{ r.building }}</td>
			<td>{{ r.occupancy }}</td>
			
			{% if r.occupied %}
				<td>Occupied</td>
			{% else %}
				<td>Vacant</td>
			{% endif %}
			
			{% if r.clean %}
				<td>Clean</td>
			{% else %}
				<td>Dirty</td>
			{% endif %}
		
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}