{% extends "display.html" %}
{% block head %}
    <!-- <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styleReservation.css') }}"> -->
{% endblock %}

{% block body1 %}
    <div class="container">
      <div class="header">
   		</div>
   		<hr/>
   		{% if errors %}
   			<div class="alert alert-danger">
   				{{ errors }}
   			 </div>
   		{% endif %}
   	   <form class="form-horizontal" action="/roomsearch" method="POST">
   	   		
   	   		Check In: <input type="date" name="checkIn" required>
   	   		<br />	
   	   	
   	   		Check Out: <input type="date" name="checkOut" required> 
   	   		<br />
     
   	   		<select name="numberOfRooms" required>
            <option value="" selected>Number of Rooms </option>
   	   			<option value="1">1 </option>
   	   			<option value="2">2 </option>
   	   			<option value="3">3 </option>
   	   			<option value="4">4 </option>
   	   			<option value="5">5 </option>
   	   		</select>
   	   		<br />
	 
	    	<input type="submit" class="btn btn-large btn-primary" value="Check Availibity">
	  </div>
	 

   	 
   	   	</form>
   	   	
   	   	<hr />
   	   	{% for r in rooms %}
		<a class="btn" href="/createres/{{ r.roomNumber }}"> {{ r.roomNumber }} </a>
		{% endfor %}
   	{% endblock %}















