{% extends "display.html" %}
{% block head %}
    <script src="static/showhide.js"></script>
{% endblock %}

{% block body1 %}
    <div class="container well">
   		{% if errors %}
   			<div class="alert alert-danger">
   				{{ errors }}
   			 </div>
   		{% endif %}


 {% if not rooms %}  	   
  <div id='div_message'>
 {% else %}
 <a href="javascript:toggle_message('inline')" id='href_about'>
 			<button type="button" class="btn btn-xs btn-default">New Search</button></a>
 <br />
 <a class="hide2" href="javascript:toggle_message('none')" id='hreh_close'>
 				<button type="button" class="btn btn-xs btn-default">(Close)</button></a>
  <div id='div_message' class="hide2">
 {% endif %}  
   	  
   	   <form class="form-horizontal" action="/roomsearch" method="POST">
   	   		
   	   		Check In: <input type="date" name="checkIn" required>
   	   		<br />	
   	   	
   	   		Check Out: <input type="date" name="checkOut" required> 
   	   		<br />
     		
     		Number of Guests: 
   	   		<select name="numberOfGuests" required>
   	   			<option value="1">1 </option>
   	   			<option value="2" selected>2 </option>
   	   			<option value="3">3 </option>
   	   			<option value="4">4 </option>
   	   			<option value="5">5 </option>
   	   			<option value="5">6 </option>
   	   			<option value="5">7 </option>
   	   			<option value="5">8 </option>
   	   		</select>
   	   		<br />
	 
	    	<input type="submit" class="btn btn-large btn-primary" value="Check Availibity">
	  </div>
  </div>	 

   	 
   	   	</form>
   	   	
   	   	<hr />
   	   	{% if rooms %}
   	   	<div class="well">
   	   	<form action="/createres" method="POST">
   	   		<input type="hidden" value="{{ inS }}" name="myInS">
   	   		<input type="hidden" value="{{ outS }}" name="myOutS">
   	   		<input type="hidden" value="{{ guestsS }}" name="myGuestsS">
   	   	{% for r in rooms %}
   	   		<div class="container">
   	   		<input type="radio" name="myRoomNumber" value="{{ r.roomNumber}}">{{ r.roomNumber }}<br />
   	   		</div>
		{% endfor %}
			<br /><input type="submit" value="Next ->">
		</div>
		{% endif %}

{% endblock %}